In [134]:
import requests
from dotenv import load_dotenv
import os 
import pandas as pd
import numpy as np
import alpaca_trade_api as tradeapi
# from MCForecastTools import MCSimulation
import json
import matplotlib.pyplot as plt

In [135]:
load_dotenv()

True

In [136]:
# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

# Create the Alpaca API object
# YOUR CODE HERE!
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version= "v2")

In [137]:
current_date = pd.Timestamp("2020-01-05", tz="America/New_York").isoformat()

tickers = ["SPY", "AAPL", "TSLA", "GE", "F", "MSFT","NIO", "PFE", "AMZN","AAL","DIS","PLUG"]


timeframe = "1D"

In [138]:
df_spy = alpaca.get_barset(
    tickers[0],
    timeframe,
    start=current_date
).df

df_spy

                                SPY
                               open    high     low   close    volume
2020-01-06 00:00:00-05:00  320.4900  323.73  320.36  323.67  43105385
2020-01-07 00:00:00-05:00  323.0200  323.54  322.24  322.76  33909984
2020-01-08 00:00:00-05:00  322.9400  325.78  322.67  324.42  56581814
2020-01-09 00:00:00-05:00  326.1600  326.73  325.52  326.62  43365068
2020-01-10 00:00:00-05:00  327.2899  327.46  325.20  325.70  44989039
...                             ...     ...     ...     ...       ...
2021-01-04 00:00:00-05:00  375.3100  375.45  364.82  368.85  92938087
2021-01-05 00:00:00-05:00  368.1000  372.50  368.05  371.32  53668865
2021-01-06 00:00:00-05:00  369.7100  376.98  369.12  373.53  91989131
2021-01-07 00:00:00-05:00  376.1000  379.90  375.91  379.06  58862006
2021-01-08 00:00:00-05:00  380.5900  381.49  377.10  381.24  60275466

[256 rows x 5 columns]

In [139]:
df_spy = df_spy.T.reset_index(drop=True).T

In [140]:
df_spy_cv = df_spy.rename(columns={3:"spy_close", 4:"spy_volume"})

In [141]:
# spy_cv = df_spy_cv[3,4]
# print(df_spy_cv.columns)
spy_df = df_spy_cv.loc[:,['spy_close', 'spy_volume']]
spy_df

                           spy_close  spy_volume
2020-01-06 00:00:00-05:00     323.67  43105385.0
2020-01-07 00:00:00-05:00     322.76  33909984.0
2020-01-08 00:00:00-05:00     324.42  56581814.0
2020-01-09 00:00:00-05:00     326.62  43365068.0
2020-01-10 00:00:00-05:00     325.70  44989039.0
...                              ...         ...
2021-01-04 00:00:00-05:00     368.85  92938087.0
2021-01-05 00:00:00-05:00     371.32  53668865.0
2021-01-06 00:00:00-05:00     373.53  91989131.0
2021-01-07 00:00:00-05:00     379.06  58862006.0
2021-01-08 00:00:00-05:00     381.24  60275466.0

[256 rows x 2 columns]

In [142]:
df_aapl = alpaca.get_barset(
    tickers[1],
    timeframe,
    start=current_date
).df

df_aapl

                             AAPL
                             open      high      low   close     volume
2020-01-06 00:00:00-05:00  293.79  299.9600  292.750  299.78   27487207
2020-01-07 00:00:00-05:00  299.84  300.9000  297.480  298.27   24353387
2020-01-08 00:00:00-05:00  297.16  304.4399  297.156  303.15   28984028
2020-01-09 00:00:00-05:00  307.25  310.4300  306.200  309.71   38540792
2020-01-10 00:00:00-05:00  310.60  312.6700  308.250  310.37   32304453
...                           ...       ...      ...     ...        ...
2021-01-04 00:00:00-05:00  133.52  133.6116  126.760  129.41  123353442
2021-01-05 00:00:00-05:00  128.89  131.7400  128.430  130.95   85139362
2021-01-06 00:00:00-05:00  127.72  131.0499  126.382  126.58  142064548
2021-01-07 00:00:00-05:00  128.36  131.6300  127.860  130.85   95314687
2021-01-08 00:00:00-05:00  132.43  132.6300  130.230  131.99   93211863

[256 rows x 5 columns]

In [143]:
df_aapl = df_aapl.T.reset_index(drop=True).T

In [144]:
df_aapl_cv = df_aapl.rename(columns={3:"aapl_close", 4:"aapl_volume"})

In [145]:
aapl_df = df_aapl_cv.loc[:,['aapl_close', 'aapl_volume']]
aapl_df

                           aapl_close  aapl_volume
2020-01-06 00:00:00-05:00      299.78   27487207.0
2020-01-07 00:00:00-05:00      298.27   24353387.0
2020-01-08 00:00:00-05:00      303.15   28984028.0
2020-01-09 00:00:00-05:00      309.71   38540792.0
2020-01-10 00:00:00-05:00      310.37   32304453.0
...                               ...          ...
2021-01-04 00:00:00-05:00      129.41  123353442.0
2021-01-05 00:00:00-05:00      130.95   85139362.0
2021-01-06 00:00:00-05:00      126.58  142064548.0
2021-01-07 00:00:00-05:00      130.85   95314687.0
2021-01-08 00:00:00-05:00      131.99   93211863.0

[256 rows x 2 columns]

In [146]:
df_tsla = alpaca.get_barset(
    tickers[2],
    timeframe,
    start=current_date
).df

df_tsla

                             TSLA
                             open      high       low     close    volume
2020-01-06 00:00:00-05:00  440.47  451.5600  440.0000  451.4001   9807049
2020-01-07 00:00:00-05:00  461.40  471.6300  453.3550  469.1700  17164802
2020-01-08 00:00:00-05:00  473.70  498.4900  468.2300  492.0900  29492388
2020-01-09 00:00:00-05:00  497.10  498.8000  472.8700  481.4900  26229707
2020-01-10 00:00:00-05:00  481.79  484.9400  473.7000  477.9600  12193711
...                           ...       ...       ...       ...       ...
2021-01-04 00:00:00-05:00  719.46  744.4899  717.1895  729.7500  45293360
2021-01-05 00:00:00-05:00  723.66  740.8400  719.2000  735.0550  28402584
2021-01-06 00:00:00-05:00  758.49  774.0000  749.1000  756.4600  41989335
2021-01-07 00:00:00-05:00  777.63  816.9900  775.2000  816.2400  48080256
2021-01-08 00:00:00-05:00  856.00  884.4900  838.3900  880.0300  71814487

[256 rows x 5 columns]

In [147]:
df_tsla = df_tsla.T.reset_index(drop=True).T

In [148]:
df_tsla_cv = df_tsla.rename(columns={3:"tsla_close", 4:"tsla_volume"})

In [149]:
tsla_df = df_tsla_cv.loc[:,['tsla_close', 'tsla_volume']]
tsla_df

                           tsla_close  tsla_volume
2020-01-06 00:00:00-05:00      299.78   27487207.0
2020-01-07 00:00:00-05:00      298.27   24353387.0
2020-01-08 00:00:00-05:00      303.15   28984028.0
2020-01-09 00:00:00-05:00      309.71   38540792.0
2020-01-10 00:00:00-05:00      310.37   32304453.0
...                               ...          ...
2021-01-04 00:00:00-05:00      129.41  123353442.0
2021-01-05 00:00:00-05:00      130.95   85139362.0
2021-01-06 00:00:00-05:00      126.58  142064548.0
2021-01-07 00:00:00-05:00      130.85   95314687.0
2021-01-08 00:00:00-05:00      131.99   93211863.0

[256 rows x 2 columns]

In [150]:
df_ge = alpaca.get_barset(
    tickers[3],
    timeframe,
    start=current_date
).df

df_ge

                              GE
                            open    high    low   close     volume
2020-01-06 00:00:00-05:00  11.84  12.210  11.84  12.140   88077970
2020-01-07 00:00:00-05:00  12.15  12.235  11.92  12.055   60320592
2020-01-08 00:00:00-05:00  11.99  12.050  11.87  11.930   37749100
2020-01-09 00:00:00-05:00  12.07  12.090  11.83  11.900   30503177
2020-01-10 00:00:00-05:00  11.84  11.910  11.59  11.670   51097374
...                          ...     ...    ...     ...        ...
2021-01-04 00:00:00-05:00  10.89  10.900  10.40  10.470   72870935
2021-01-05 00:00:00-05:00  10.43  10.880  10.42  10.765   79006722
2021-01-06 00:00:00-05:00  10.83  11.620  10.83  11.360  125493580
2021-01-07 00:00:00-05:00  11.56  11.570  11.24  11.280   63810500
2021-01-08 00:00:00-05:00  11.29  11.440  11.16  11.340   66949654

[256 rows x 5 columns]

In [151]:
df_ge = df_ge.T.reset_index(drop=True).T

In [152]:
df_ge_cv = df_ge.rename(columns={3:"ge_close", 4:"ge_volume"})

In [153]:
ge_df = df_ge_cv.loc[:,['ge_close', 'ge_volume']]
ge_df

                           ge_close    ge_volume
2020-01-06 00:00:00-05:00    12.140   88077970.0
2020-01-07 00:00:00-05:00    12.055   60320592.0
2020-01-08 00:00:00-05:00    11.930   37749100.0
2020-01-09 00:00:00-05:00    11.900   30503177.0
2020-01-10 00:00:00-05:00    11.670   51097374.0
...                             ...          ...
2021-01-04 00:00:00-05:00    10.470   72870935.0
2021-01-05 00:00:00-05:00    10.765   79006722.0
2021-01-06 00:00:00-05:00    11.360  125493580.0
2021-01-07 00:00:00-05:00    11.280   63810500.0
2021-01-08 00:00:00-05:00    11.340   66949654.0

[256 rows x 2 columns]

In [154]:
df_f = alpaca.get_barset(
    tickers[4],
    timeframe,
    start=current_date
).df

df_f

                              F
                           open  high   low   close    volume
2020-01-06 00:00:00-05:00  9.10  9.17  9.06  9.1500  31435591
2020-01-07 00:00:00-05:00  9.20  9.25  9.12  9.2500  35164362
2020-01-08 00:00:00-05:00  9.23  9.30  9.17  9.2500  39750601
2020-01-09 00:00:00-05:00  9.30  9.31  9.18  9.2750  35763979
2020-01-10 00:00:00-05:00  9.27  9.36  9.25  9.2500  32805927
...                         ...   ...   ...     ...       ...
2021-01-04 00:00:00-05:00  8.81  8.84  8.43  8.5200  80476198
2021-01-05 00:00:00-05:00  8.47  8.72  8.46  8.6450  67535397
2021-01-06 00:00:00-05:00  8.79  8.94  8.68  8.8422  68520361
2021-01-07 00:00:00-05:00  8.94  9.08  8.88  9.0500  70837077
2021-01-08 00:00:00-05:00  9.10  9.14  8.89  9.0000  57267427

[256 rows x 5 columns]

In [155]:
df_f = df_f.T.reset_index(drop=True).T

In [156]:
df_f_cv = df_f.rename(columns={3:"f_close", 4:"f_volume"})

In [157]:
f_df = df_f_cv.loc[:,['f_close', 'f_volume']]
f_df

                           f_close    f_volume
2020-01-06 00:00:00-05:00   9.1500  31435591.0
2020-01-07 00:00:00-05:00   9.2500  35164362.0
2020-01-08 00:00:00-05:00   9.2500  39750601.0
2020-01-09 00:00:00-05:00   9.2750  35763979.0
2020-01-10 00:00:00-05:00   9.2500  32805927.0
...                            ...         ...
2021-01-04 00:00:00-05:00   8.5200  80476198.0
2021-01-05 00:00:00-05:00   8.6450  67535397.0
2021-01-06 00:00:00-05:00   8.8422  68520361.0
2021-01-07 00:00:00-05:00   9.0500  70837077.0
2021-01-08 00:00:00-05:00   9.0000  57267427.0

[256 rows x 2 columns]

In [158]:
df_msft = alpaca.get_barset(
    tickers[5],
    timeframe,
    start=current_date
).df

df_msft

                               MSFT
                               open      high       low   close    volume
2020-01-06 00:00:00-05:00  157.0800  159.1000  156.5100  159.02  15146928
2020-01-07 00:00:00-05:00  159.3200  159.6700  157.3200  157.60  17871760
2020-01-08 00:00:00-05:00  158.9300  160.8000  157.9491  160.14  22149039
2020-01-09 00:00:00-05:00  161.8350  162.2150  161.0300  162.09  16868379
2020-01-10 00:00:00-05:00  162.8235  163.2200  161.1800  161.32  17493193
...                             ...       ...       ...     ...       ...
2021-01-04 00:00:00-05:00  222.5300  223.0000  214.8100  217.81  27651582
2021-01-05 00:00:00-05:00  217.2600  218.5200  215.7000  218.01  18061458
2021-01-06 00:00:00-05:00  212.1700  216.4899  211.9400  212.22  29768110
2021-01-07 00:00:00-05:00  214.0400  219.3400  213.7100  218.29  20366208
2021-01-08 00:00:00-05:00  218.6800  220.5800  217.0261  219.55  18248721

[256 rows x 5 columns]

In [159]:
df_msft = df_msft.T.reset_index(drop=True).T

In [160]:
df_msft_cv = df_msft.rename(columns={3:"msft_close", 4:"msft_volume"})

In [161]:
msft_df = df_msft_cv.loc[:,['msft_close', 'msft_volume']]
msft_df

                           msft_close  msft_volume
2020-01-06 00:00:00-05:00      159.02   15146928.0
2020-01-07 00:00:00-05:00      157.60   17871760.0
2020-01-08 00:00:00-05:00      160.14   22149039.0
2020-01-09 00:00:00-05:00      162.09   16868379.0
2020-01-10 00:00:00-05:00      161.32   17493193.0
...                               ...          ...
2021-01-04 00:00:00-05:00      217.81   27651582.0
2021-01-05 00:00:00-05:00      218.01   18061458.0
2021-01-06 00:00:00-05:00      212.22   29768110.0
2021-01-07 00:00:00-05:00      218.29   20366208.0
2021-01-08 00:00:00-05:00      219.55   18248721.0

[256 rows x 2 columns]

In [162]:
df_nio = alpaca.get_barset(
    tickers[6],
    timeframe,
    start=current_date
).df

df_nio

                             NIO
                            open     high      low    close     volume
2020-01-06 00:00:00-05:00   4.19   4.2400   3.6600   3.6900   98224315
2020-01-07 00:00:00-05:00   3.70   3.7300   3.2100   3.2500  100309137
2020-01-08 00:00:00-05:00   3.14   3.4900   3.1300   3.3850   60130244
2020-01-09 00:00:00-05:00   3.44   3.5800   3.3300   3.4700   51395446
2020-01-10 00:00:00-05:00   3.49   3.5750   3.4000   3.5100   33027919
...                          ...      ...      ...      ...        ...
2021-01-04 00:00:00-05:00  51.20  54.4469  50.6701  53.4816  194732311
2021-01-05 00:00:00-05:00  51.97  53.7500  50.4000  53.2000  139895202
2021-01-06 00:00:00-05:00  54.02  55.2764  49.0800  50.5234  170401612
2021-01-07 00:00:00-05:00  53.05  54.6100  52.3500  54.2500  112050972
2021-01-08 00:00:00-05:00  57.76  59.3100  55.8800  58.9100  208053275

[256 rows x 5 columns]

In [163]:
df_nio = df_nio.T.reset_index(drop=True).T

In [164]:
df_nio_cv = df_nio.rename(columns={3:"nio_close", 4:"nio_volume"})

In [165]:
nio_df = df_nio_cv.loc[:,['nio_close', 'nio_volume']]
nio_df

                           nio_close   nio_volume
2020-01-06 00:00:00-05:00     3.6900   98224315.0
2020-01-07 00:00:00-05:00     3.2500  100309137.0
2020-01-08 00:00:00-05:00     3.3850   60130244.0
2020-01-09 00:00:00-05:00     3.4700   51395446.0
2020-01-10 00:00:00-05:00     3.5100   33027919.0
...                              ...          ...
2021-01-04 00:00:00-05:00    53.4816  194732311.0
2021-01-05 00:00:00-05:00    53.2000  139895202.0
2021-01-06 00:00:00-05:00    50.5234  170401612.0
2021-01-07 00:00:00-05:00    54.2500  112050972.0
2021-01-08 00:00:00-05:00    58.9100  208053275.0

[256 rows x 2 columns]

In [166]:
df_pfe = alpaca.get_barset(
    tickers[7],
    timeframe,
    start=current_date
).df

df_pfe

                             PFE
                            open    high    low  close    volume
2020-01-06 00:00:00-05:00  38.82  39.000  38.70  38.87  10206988
2020-01-07 00:00:00-05:00  39.12  39.130  38.68  38.76  15412402
2020-01-08 00:00:00-05:00  38.76  39.220  38.75  39.05  12490932
2020-01-09 00:00:00-05:00  39.27  39.270  38.79  38.89  15008669
2020-01-10 00:00:00-05:00  38.98  39.625  38.97  39.49  17128495
...                          ...     ...    ...    ...       ...
2021-01-04 00:00:00-05:00  36.87  36.940  36.27  36.82  28440292
2021-01-05 00:00:00-05:00  36.72  37.370  36.60  37.19  24730234
2021-01-06 00:00:00-05:00  36.83  37.480  36.77  36.88  29131691
2021-01-07 00:00:00-05:00  37.04  37.150  36.67  37.05  23988415
2021-01-08 00:00:00-05:00  37.16  37.525  36.90  37.12  29721152

[256 rows x 5 columns]

In [168]:
df_pfe = df_pfe.T.reset_index(drop=True).T

In [169]:
df_pfe_cv = df_pfe.rename(columns={3:"pfe_close", 4:"pfe_volume"})

In [170]:
pfe_df = df_pfe_cv.loc[:,['pfe_close', 'pfe_volume']]
pfe_df

                           pfe_close  pfe_volume
2020-01-06 00:00:00-05:00      38.87  10206988.0
2020-01-07 00:00:00-05:00      38.76  15412402.0
2020-01-08 00:00:00-05:00      39.05  12490932.0
2020-01-09 00:00:00-05:00      38.89  15008669.0
2020-01-10 00:00:00-05:00      39.49  17128495.0
...                              ...         ...
2021-01-04 00:00:00-05:00      36.82  28440292.0
2021-01-05 00:00:00-05:00      37.19  24730234.0
2021-01-06 00:00:00-05:00      36.88  29131691.0
2021-01-07 00:00:00-05:00      37.05  23988415.0
2021-01-08 00:00:00-05:00      37.12  29721152.0

[256 rows x 2 columns]

In [171]:
df_amzn = alpaca.get_barset(
    tickers[8],
    timeframe,
    start=current_date
).df

df_amzn

                              AMZN
                              open       high        low    close   volume
2020-01-06 00:00:00-05:00  1860.00  1903.6900  1860.0000  1903.33  3598872
2020-01-07 00:00:00-05:00  1904.50  1913.8900  1892.0433  1906.86  3569706
2020-01-08 00:00:00-05:00  1898.68  1910.9999  1886.4448  1892.09  3100021
2020-01-09 00:00:00-05:00  1909.89  1917.8200  1895.8038  1901.00  2913887
2020-01-10 00:00:00-05:00  1905.37  1906.9400  1880.0000  1882.98  2652859
...                            ...        ...        ...      ...      ...
2021-01-04 00:00:00-05:00  3270.00  3272.0000  3144.0200  3186.65  3974073
2021-01-05 00:00:00-05:00  3166.01  3223.3800  3165.0600  3218.51  2325459
2021-01-06 00:00:00-05:00  3146.48  3197.5090  3131.1600  3138.01  3919285
2021-01-07 00:00:00-05:00  3157.00  3208.5420  3155.0000  3161.41  2951339
2021-01-08 00:00:00-05:00  3180.00  3190.6400  3142.2000  3182.70  3261271

[256 rows x 5 columns]

In [172]:
df_amzn = df_amzn.T.reset_index(drop=True).T

In [173]:
df_amzn_cv = df_amzn.rename(columns={3:"amzn_close", 4:"amzn_volume"})

In [174]:
amzn_df = df_amzn_cv.loc[:,['amzn_close', 'amzn_volume']]
amzn_df

                           amzn_close  amzn_volume
2020-01-06 00:00:00-05:00     1903.33    3598872.0
2020-01-07 00:00:00-05:00     1906.86    3569706.0
2020-01-08 00:00:00-05:00     1892.09    3100021.0
2020-01-09 00:00:00-05:00     1901.00    2913887.0
2020-01-10 00:00:00-05:00     1882.98    2652859.0
...                               ...          ...
2021-01-04 00:00:00-05:00     3186.65    3974073.0
2021-01-05 00:00:00-05:00     3218.51    2325459.0
2021-01-06 00:00:00-05:00     3138.01    3919285.0
2021-01-07 00:00:00-05:00     3161.41    2951339.0
2021-01-08 00:00:00-05:00     3182.70    3261271.0

[256 rows x 2 columns]

In [175]:
df_aal = alpaca.get_barset(
    tickers[9],
    timeframe,
    start=current_date
).df

df_aal

                             AAL
                            open     high    low   close    volume
2020-01-06 00:00:00-05:00  27.19  27.4901  27.08  27.320   5383583
2020-01-07 00:00:00-05:00  27.56  27.6800  27.06  27.220   5570129
2020-01-08 00:00:00-05:00  27.21  28.0900  27.10  27.840   9479470
2020-01-09 00:00:00-05:00  28.09  28.2300  27.71  27.950   5923245
2020-01-10 00:00:00-05:00  27.93  27.9900  27.25  27.320   7291102
...                          ...      ...    ...     ...       ...
2021-01-04 00:00:00-05:00  15.85  15.8800  15.03  15.120  68479594
2021-01-05 00:00:00-05:00  14.92  15.6300  14.87  15.430  51109216
2021-01-06 00:00:00-05:00  15.45  15.8000  15.17  15.520  61348418
2021-01-07 00:00:00-05:00  15.67  15.8700  15.38  15.380  45503976
2021-01-08 00:00:00-05:00  15.43  15.5300  15.00  15.115  54302647

[256 rows x 5 columns]

In [176]:
df_aal = df_aal.T.reset_index(drop=True).T

In [177]:
df_aal_cv = df_aal.rename(columns={3:"aal_close", 4:"aal_volume"})

In [178]:
aal_df = df_aal_cv.loc[:,['aal_close', 'aal_volume']]
aal_df

                           aal_close  aal_volume
2020-01-06 00:00:00-05:00     27.320   5383583.0
2020-01-07 00:00:00-05:00     27.220   5570129.0
2020-01-08 00:00:00-05:00     27.840   9479470.0
2020-01-09 00:00:00-05:00     27.950   5923245.0
2020-01-10 00:00:00-05:00     27.320   7291102.0
...                              ...         ...
2021-01-04 00:00:00-05:00     15.120  68479594.0
2021-01-05 00:00:00-05:00     15.430  51109216.0
2021-01-06 00:00:00-05:00     15.520  61348418.0
2021-01-07 00:00:00-05:00     15.380  45503976.0
2021-01-08 00:00:00-05:00     15.115  54302647.0

[256 rows x 2 columns]

In [179]:
df_dis = alpaca.get_barset(
    tickers[10],
    timeframe,
    start=current_date
).df

df_dis

                               DIS
                              open      high       low   close    volume
2020-01-06 00:00:00-05:00  145.540  146.0300  144.3100  145.65   7363097
2020-01-07 00:00:00-05:00  145.990  146.8699  145.4350  145.68   5646933
2020-01-08 00:00:00-05:00  145.490  146.1300  144.8200  145.45   5771723
2020-01-09 00:00:00-05:00  146.470  146.6250  144.6100  144.80   5331260
2020-01-10 00:00:00-05:00  145.300  145.5000  144.2600  144.60   4192359
...                            ...       ...       ...     ...       ...
2021-01-04 00:00:00-05:00  182.255  182.5900  174.7300  177.55  11001381
2021-01-05 00:00:00-05:00  176.200  180.3399  176.2000  178.45   5870876
2021-01-06 00:00:00-05:00  178.320  181.6100  177.2836  179.12   6411222
2021-01-07 00:00:00-05:00  179.500  179.9500  177.5750  178.58   6367836
2021-01-08 00:00:00-05:00  178.810  180.0200  176.6000  178.68   5961422

[256 rows x 5 columns]

In [180]:
df_dis = df_dis.T.reset_index(drop=True).T

In [181]:
df_dis_cv = df_dis.rename(columns={3:"dis_close", 4:"dis_volume"})

In [182]:
dis_df = df_dis_cv.loc[:,['dis_close', 'dis_volume']]
dis_df

                           dis_close  dis_volume
2020-01-06 00:00:00-05:00     145.65   7363097.0
2020-01-07 00:00:00-05:00     145.68   5646933.0
2020-01-08 00:00:00-05:00     145.45   5771723.0
2020-01-09 00:00:00-05:00     144.80   5331260.0
2020-01-10 00:00:00-05:00     144.60   4192359.0
...                              ...         ...
2021-01-04 00:00:00-05:00     177.55  11001381.0
2021-01-05 00:00:00-05:00     178.45   5870876.0
2021-01-06 00:00:00-05:00     179.12   6411222.0
2021-01-07 00:00:00-05:00     178.58   6367836.0
2021-01-08 00:00:00-05:00     178.68   5961422.0

[256 rows x 2 columns]

In [183]:
df_plug = alpaca.get_barset(
    tickers[11],
    timeframe,
    start=current_date
).df

df_plug

                            PLUG
                            open   high     low    close    volume
2020-01-06 00:00:00-05:00   3.43   3.87   3.360   3.8150  37186905
2020-01-07 00:00:00-05:00   3.76   3.90   3.660   3.8050  21453070
2020-01-08 00:00:00-05:00   3.75   4.20   3.750   4.0675  29991957
2020-01-09 00:00:00-05:00   4.18   4.20   3.880   4.0450  16853768
2020-01-10 00:00:00-05:00   4.08   4.17   4.020   4.1400  13613412
...                          ...    ...     ...      ...       ...
2021-01-04 00:00:00-05:00  34.64  34.92  31.066  32.1800  28702974
2021-01-05 00:00:00-05:00  30.79  33.09  30.400  32.5500  17454490
2021-01-06 00:00:00-05:00  34.37  36.86  33.720  35.0000  41482804
2021-01-07 00:00:00-05:00  43.60  47.31  43.160  47.3000  89346497
2021-01-08 00:00:00-05:00  51.98  55.98  49.200  53.7788  96514508

[256 rows x 5 columns]

In [184]:
df_plug = df_plug.T.reset_index(drop=True).T

In [185]:
df_plug_cv = df_plug.rename(columns={3:"plug_close", 4:"plug_volume"})

In [186]:
plug_df = df_plug_cv.loc[:,['plug_close', 'plug_volume']]
plug_df

                           plug_close  plug_volume
2020-01-06 00:00:00-05:00      3.8150   37186905.0
2020-01-07 00:00:00-05:00      3.8050   21453070.0
2020-01-08 00:00:00-05:00      4.0675   29991957.0
2020-01-09 00:00:00-05:00      4.0450   16853768.0
2020-01-10 00:00:00-05:00      4.1400   13613412.0
...                               ...          ...
2021-01-04 00:00:00-05:00     32.1800   28702974.0
2021-01-05 00:00:00-05:00     32.5500   17454490.0
2021-01-06 00:00:00-05:00     35.0000   41482804.0
2021-01-07 00:00:00-05:00     47.3000   89346497.0
2021-01-08 00:00:00-05:00     53.7788   96514508.0

[256 rows x 2 columns]