In [102]:
import requests
from dotenv import load_dotenv
import os 
import pandas as pd
import numpy as np
import alpaca_trade_api as tradeapi
# from MCForecastTools import MCSimulation
import json
import matplotlib.pyplot as plt

In [103]:
load_dotenv()

True

In [104]:
# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

# Create the Alpaca API object
# YOUR CODE HERE!
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version= "v2")

In [105]:
current_date = pd.Timestamp("2020-01-05", tz="America/New_York").isoformat()

tickers = ["SPY", "AAPL", "TSLA", "GE", "F", "MSFT","NIO", "PFE", "AMZN","AAL","DIS","PLUG"]


timeframe = "1D"

In [106]:
df_spy = alpaca.get_barset(
    tickers[0],
    timeframe,
    start=current_date
).df

df_spy

                                SPY
                               open    high     low   close    volume
2020-01-06 00:00:00-05:00  320.4900  323.73  320.36  323.67  43105385
2020-01-07 00:00:00-05:00  323.0200  323.54  322.24  322.76  33909984
2020-01-08 00:00:00-05:00  322.9400  325.78  322.67  324.42  56581814
2020-01-09 00:00:00-05:00  326.1600  326.73  325.52  326.62  43365068
2020-01-10 00:00:00-05:00  327.2899  327.46  325.20  325.70  44989039
...                             ...     ...     ...     ...       ...
2021-01-04 00:00:00-05:00  375.3100  375.45  364.82  368.85  92938087
2021-01-05 00:00:00-05:00  368.1000  372.50  368.05  371.32  53668865
2021-01-06 00:00:00-05:00  369.7100  376.98  369.12  373.53  91989131
2021-01-07 00:00:00-05:00  376.1000  379.90  375.91  379.06  58862006
2021-01-08 00:00:00-05:00  380.5900  381.49  377.10  381.24  60275466

[256 rows x 5 columns]

In [107]:
df_spy = df_spy.T.reset_index(drop=True).T

In [108]:
df_spy_cv = df_spy.rename(columns={3:"close", 4:"volume"})

In [118]:
# spy_cv = df_spy_cv[3,4]
# print(df_spy_cv.columns)
spy_df = df_spy_cv.loc[:,['close', 'volume']]
spy_df

                            close      volume
2020-01-06 00:00:00-05:00  323.67  43105385.0
2020-01-07 00:00:00-05:00  322.76  33909984.0
2020-01-08 00:00:00-05:00  324.42  56581814.0
2020-01-09 00:00:00-05:00  326.62  43365068.0
2020-01-10 00:00:00-05:00  325.70  44989039.0
...                           ...         ...
2021-01-04 00:00:00-05:00  368.85  92938087.0
2021-01-05 00:00:00-05:00  371.32  53668865.0
2021-01-06 00:00:00-05:00  373.53  91989131.0
2021-01-07 00:00:00-05:00  379.06  58862006.0
2021-01-08 00:00:00-05:00  381.24  60275466.0

[256 rows x 2 columns]

In [119]:
df_aapl = alpaca.get_barset(
    tickers[1],
    timeframe,
    start=current_date
).df

df_aapl

                             AAPL
                             open      high      low   close     volume
2020-01-06 00:00:00-05:00  293.79  299.9600  292.750  299.78   27487207
2020-01-07 00:00:00-05:00  299.84  300.9000  297.480  298.27   24353387
2020-01-08 00:00:00-05:00  297.16  304.4399  297.156  303.15   28984028
2020-01-09 00:00:00-05:00  307.25  310.4300  306.200  309.71   38540792
2020-01-10 00:00:00-05:00  310.60  312.6700  308.250  310.37   32304453
...                           ...       ...      ...     ...        ...
2021-01-04 00:00:00-05:00  133.52  133.6116  126.760  129.41  123353442
2021-01-05 00:00:00-05:00  128.89  131.7400  128.430  130.95   85139362
2021-01-06 00:00:00-05:00  127.72  131.0499  126.382  126.58  142064548
2021-01-07 00:00:00-05:00  128.36  131.6300  127.860  130.85   95314687
2021-01-08 00:00:00-05:00  132.43  132.6300  130.230  131.99   93211863

[256 rows x 5 columns]

In [121]:
df_aapl = df_spy.T.reset_index(drop=True).T

In [ ]:
df_spy_cv = df_spy.rename(columns={3:"close", 4:"volume"})