In [187]:
import requests
from dotenv import load_dotenv
import os 
import pandas as pd
import numpy as np
import alpaca_trade_api as tradeapi
# from MCForecastTools import MCSimulation
import json
import matplotlib.pyplot as plt

In [188]:
load_dotenv()

True

In [189]:
# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

# Create the Alpaca API object
# YOUR CODE HERE!
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version= "v2")

In [190]:
current_date = pd.Timestamp("2020-01-05", tz="America/New_York").isoformat()

tickers = ["SPY", "AAPL", "TSLA", "GE", "F", "MSFT","NIO", "PFE", "AMZN","AAL","DIS","PLUG"]


timeframe = "1D"

In [191]:
df_spy = alpaca.get_barset(
    tickers[0],
    timeframe,
    start=current_date
).df

In [192]:
df_spy = df_spy.T.reset_index(drop=True).T

In [193]:
df_spy_cv = df_spy.rename(columns={3:"spy_close", 4:"spy_volume"})

In [194]:
# spy_cv = df_spy_cv[3,4]
# print(df_spy_cv.columns)
spy_df = df_spy_cv.loc[:,['spy_close', 'spy_volume']]

In [195]:
df_aapl = alpaca.get_barset(
    tickers[1],
    timeframe,
    start=current_date
).df

In [196]:
df_aapl = df_aapl.T.reset_index(drop=True).T

In [197]:
df_aapl_cv = df_aapl.rename(columns={3:"aapl_close", 4:"aapl_volume"})

In [198]:
aapl_df = df_aapl_cv.loc[:,['aapl_close', 'aapl_volume']]

In [199]:
df_tsla = alpaca.get_barset(
    tickers[2],
    timeframe,
    start=current_date
).df

In [200]:
df_tsla = df_tsla.T.reset_index(drop=True).T

In [201]:
df_tsla_cv = df_tsla.rename(columns={3:"tsla_close", 4:"tsla_volume"})

In [202]:
tsla_df = df_tsla_cv.loc[:,['tsla_close', 'tsla_volume']]

In [203]:
df_ge = alpaca.get_barset(
    tickers[3],
    timeframe,
    start=current_date
).df

In [204]:
df_ge = df_ge.T.reset_index(drop=True).T

In [205]:
df_ge_cv = df_ge.rename(columns={3:"ge_close", 4:"ge_volume"})

In [206]:
ge_df = df_ge_cv.loc[:,['ge_close', 'ge_volume']]

In [207]:
df_f = alpaca.get_barset(
    tickers[4],
    timeframe,
    start=current_date
).df

In [208]:
df_f = df_f.T.reset_index(drop=True).T

In [209]:
df_f_cv = df_f.rename(columns={3:"f_close", 4:"f_volume"})

In [210]:
f_df = df_f_cv.loc[:,['f_close', 'f_volume']]

In [211]:
df_msft = alpaca.get_barset(
    tickers[5],
    timeframe,
    start=current_date
).df

In [212]:
df_msft = df_msft.T.reset_index(drop=True).T

In [213]:
df_msft_cv = df_msft.rename(columns={3:"msft_close", 4:"msft_volume"})

In [214]:
msft_df = df_msft_cv.loc[:,['msft_close', 'msft_volume']]

In [215]:
df_nio = alpaca.get_barset(
    tickers[6],
    timeframe,
    start=current_date
).df

In [216]:
df_nio = df_nio.T.reset_index(drop=True).T

In [217]:
df_nio_cv = df_nio.rename(columns={3:"nio_close", 4:"nio_volume"})

In [218]:
nio_df = df_nio_cv.loc[:,['nio_close', 'nio_volume']]

In [219]:
df_pfe = alpaca.get_barset(
    tickers[7],
    timeframe,
    start=current_date
).df

In [220]:
df_pfe = df_pfe.T.reset_index(drop=True).T

In [221]:
df_pfe_cv = df_pfe.rename(columns={3:"pfe_close", 4:"pfe_volume"})

In [222]:
pfe_df = df_pfe_cv.loc[:,['pfe_close', 'pfe_volume']]

In [223]:
df_amzn = alpaca.get_barset(
    tickers[8],
    timeframe,
    start=current_date
).df

In [224]:
df_amzn = df_amzn.T.reset_index(drop=True).T

In [225]:
df_amzn_cv = df_amzn.rename(columns={3:"amzn_close", 4:"amzn_volume"})

In [226]:
amzn_df = df_amzn_cv.loc[:,['amzn_close', 'amzn_volume']]

In [227]:
df_aal = alpaca.get_barset(
    tickers[9],
    timeframe,
    start=current_date
).df

In [228]:
df_aal = df_aal.T.reset_index(drop=True).T

In [229]:
df_aal_cv = df_aal.rename(columns={3:"aal_close", 4:"aal_volume"})

In [230]:
aal_df = df_aal_cv.loc[:,['aal_close', 'aal_volume']]

In [231]:
df_dis = alpaca.get_barset(
    tickers[10],
    timeframe,
    start=current_date
).df

In [232]:
df_dis = df_dis.T.reset_index(drop=True).T

In [233]:
df_dis_cv = df_dis.rename(columns={3:"dis_close", 4:"dis_volume"})

In [234]:
dis_df = df_dis_cv.loc[:,['dis_close', 'dis_volume']]

In [235]:
df_plug = alpaca.get_barset(
    tickers[11],
    timeframe,
    start=current_date
).df

In [236]:
df_plug = df_plug.T.reset_index(drop=True).T

In [237]:
df_plug_cv = df_plug.rename(columns={3:"plug_close", 4:"plug_volume"})

In [186]:
plug_df = df_plug_cv.loc[:,['plug_close', 'plug_volume']]

                           plug_close  plug_volume
2020-01-06 00:00:00-05:00      3.8150   37186905.0
2020-01-07 00:00:00-05:00      3.8050   21453070.0
2020-01-08 00:00:00-05:00      4.0675   29991957.0
2020-01-09 00:00:00-05:00      4.0450   16853768.0
2020-01-10 00:00:00-05:00      4.1400   13613412.0
...                               ...          ...
2021-01-04 00:00:00-05:00     32.1800   28702974.0
2021-01-05 00:00:00-05:00     32.5500   17454490.0
2021-01-06 00:00:00-05:00     35.0000   41482804.0
2021-01-07 00:00:00-05:00     47.3000   89346497.0
2021-01-08 00:00:00-05:00     53.7788   96514508.0

[256 rows x 2 columns]

In [238]:
spy_df

                           spy_close  spy_volume
2020-01-06 00:00:00-05:00     323.67  41271531.0
2020-01-07 00:00:00-05:00     322.73  33333873.0
2020-01-08 00:00:00-05:00     324.42  53033838.0
2020-01-09 00:00:00-05:00     326.62  40652148.0
2020-01-10 00:00:00-05:00     325.70  42585254.0
...                              ...         ...
2021-01-04 00:00:00-05:00     368.85  92938087.0
2021-01-05 00:00:00-05:00     371.32  53668865.0
2021-01-06 00:00:00-05:00     373.53  91989131.0
2021-01-07 00:00:00-05:00     379.06  58862006.0
2021-01-08 00:00:00-05:00     381.24  60275466.0

[256 rows x 2 columns]

In [239]:
aapl_df

                           aapl_close  aapl_volume
2020-01-06 00:00:00-05:00      299.78   27487207.0
2020-01-07 00:00:00-05:00      298.27   23877417.0
2020-01-08 00:00:00-05:00      303.15   29547763.0
2020-01-09 00:00:00-05:00      309.71   39240341.0
2020-01-10 00:00:00-05:00      310.37   32981826.0
...                               ...          ...
2021-01-04 00:00:00-05:00      129.41  123353442.0
2021-01-05 00:00:00-05:00      130.95   85139362.0
2021-01-06 00:00:00-05:00      126.58  142064548.0
2021-01-07 00:00:00-05:00      130.85   95314687.0
2021-01-08 00:00:00-05:00      131.99   93211863.0

[256 rows x 2 columns]

In [240]:
tsla_df

                           tsla_close  tsla_volume
2020-01-06 00:00:00-05:00    451.4001    9807049.0
2020-01-07 00:00:00-05:00    469.1700   16859537.0
2020-01-08 00:00:00-05:00    492.0900   29804104.0
2020-01-09 00:00:00-05:00    481.4900   26901507.0
2020-01-10 00:00:00-05:00    477.9600   12365563.0
...                               ...          ...
2021-01-04 00:00:00-05:00    729.7500   45293360.0
2021-01-05 00:00:00-05:00    735.0550   28402584.0
2021-01-06 00:00:00-05:00    756.4600   41989335.0
2021-01-07 00:00:00-05:00    816.2400   48080256.0
2021-01-08 00:00:00-05:00    880.0300   71814487.0

[256 rows x 2 columns]

In [241]:
ge_df

                           ge_close    ge_volume
2020-01-06 00:00:00-05:00    12.140   88077970.0
2020-01-07 00:00:00-05:00    12.055   60689070.0
2020-01-08 00:00:00-05:00    11.930   37395174.0
2020-01-09 00:00:00-05:00    11.900   30342442.0
2020-01-10 00:00:00-05:00    11.670   50809855.0
...                             ...          ...
2021-01-04 00:00:00-05:00    10.470   72870935.0
2021-01-05 00:00:00-05:00    10.765   79006722.0
2021-01-06 00:00:00-05:00    11.360  125493580.0
2021-01-07 00:00:00-05:00    11.280   63810500.0
2021-01-08 00:00:00-05:00    11.340   66949654.0

[256 rows x 2 columns]

In [242]:
f_df

                           f_close    f_volume
2020-01-06 00:00:00-05:00   9.1500  31435591.0
2020-01-07 00:00:00-05:00   9.2500  35164362.0
2020-01-08 00:00:00-05:00   9.2500  39750601.0
2020-01-09 00:00:00-05:00   9.2750  35763979.0
2020-01-10 00:00:00-05:00   9.2500  32805927.0
...                            ...         ...
2021-01-04 00:00:00-05:00   8.5200  80476198.0
2021-01-05 00:00:00-05:00   8.6450  67535397.0
2021-01-06 00:00:00-05:00   8.8422  68520361.0
2021-01-07 00:00:00-05:00   9.0500  70837077.0
2021-01-08 00:00:00-05:00   9.0000  57267427.0

[256 rows x 2 columns]

In [243]:
msft_df

                           msft_close  msft_volume
2020-01-06 00:00:00-05:00      159.02   15146928.0
2020-01-07 00:00:00-05:00      157.60   17871760.0
2020-01-08 00:00:00-05:00      160.14   22149039.0
2020-01-09 00:00:00-05:00      162.09   16868379.0
2020-01-10 00:00:00-05:00      161.32   17493193.0
...                               ...          ...
2021-01-04 00:00:00-05:00      217.81   27651582.0
2021-01-05 00:00:00-05:00      218.01   18061458.0
2021-01-06 00:00:00-05:00      212.22   29768110.0
2021-01-07 00:00:00-05:00      218.29   20366208.0
2021-01-08 00:00:00-05:00      219.55   18248721.0

[256 rows x 2 columns]

In [244]:
nio_df

                           nio_close   nio_volume
2020-01-06 00:00:00-05:00     3.6900   98224315.0
2020-01-07 00:00:00-05:00     3.2500  100309137.0
2020-01-08 00:00:00-05:00     3.3850   60130244.0
2020-01-09 00:00:00-05:00     3.4700   51395446.0
2020-01-10 00:00:00-05:00     3.5100   33027919.0
...                              ...          ...
2021-01-04 00:00:00-05:00    53.4816  194732311.0
2021-01-05 00:00:00-05:00    53.2000  139895202.0
2021-01-06 00:00:00-05:00    50.5234  170401612.0
2021-01-07 00:00:00-05:00    54.2500  112050972.0
2021-01-08 00:00:00-05:00    58.9100  208053275.0

[256 rows x 2 columns]

In [245]:
pfe_df

                           pfe_close  pfe_volume
2020-01-06 00:00:00-05:00      38.87  10206988.0
2020-01-07 00:00:00-05:00      38.76  15412402.0
2020-01-08 00:00:00-05:00      39.05  12490932.0
2020-01-09 00:00:00-05:00      38.89  15008669.0
2020-01-10 00:00:00-05:00      39.49  17128495.0
...                              ...         ...
2021-01-04 00:00:00-05:00      36.82  28440292.0
2021-01-05 00:00:00-05:00      37.19  24730234.0
2021-01-06 00:00:00-05:00      36.88  29131691.0
2021-01-07 00:00:00-05:00      37.05  23988415.0
2021-01-08 00:00:00-05:00      37.12  29721152.0

[256 rows x 2 columns]

In [246]:
amzn_df

                           amzn_close  amzn_volume
2020-01-06 00:00:00-05:00     1903.33    3598872.0
2020-01-07 00:00:00-05:00     1906.86    3569706.0
2020-01-08 00:00:00-05:00     1892.09    3100021.0
2020-01-09 00:00:00-05:00     1901.00    2913887.0
2020-01-10 00:00:00-05:00     1882.98    2652859.0
...                               ...          ...
2021-01-04 00:00:00-05:00     3186.65    3974073.0
2021-01-05 00:00:00-05:00     3218.51    2325459.0
2021-01-06 00:00:00-05:00     3138.01    3919285.0
2021-01-07 00:00:00-05:00     3161.41    2951339.0
2021-01-08 00:00:00-05:00     3182.70    3261271.0

[256 rows x 2 columns]

In [247]:
aal_df

                           aal_close  aal_volume
2020-01-06 00:00:00-05:00     27.320   5383583.0
2020-01-07 00:00:00-05:00     27.220   5570129.0
2020-01-08 00:00:00-05:00     27.840   9479470.0
2020-01-09 00:00:00-05:00     27.950   5923245.0
2020-01-10 00:00:00-05:00     27.320   7291102.0
...                              ...         ...
2021-01-04 00:00:00-05:00     15.120  68479594.0
2021-01-05 00:00:00-05:00     15.430  51109216.0
2021-01-06 00:00:00-05:00     15.520  61348418.0
2021-01-07 00:00:00-05:00     15.380  45503976.0
2021-01-08 00:00:00-05:00     15.115  54302647.0

[256 rows x 2 columns]

In [248]:
dis_df

                           dis_close  dis_volume
2020-01-06 00:00:00-05:00     145.65   7363097.0
2020-01-07 00:00:00-05:00     145.68   5646933.0
2020-01-08 00:00:00-05:00     145.45   5771723.0
2020-01-09 00:00:00-05:00     144.80   5331260.0
2020-01-10 00:00:00-05:00     144.60   4192359.0
...                              ...         ...
2021-01-04 00:00:00-05:00     177.55  11001381.0
2021-01-05 00:00:00-05:00     178.45   5870876.0
2021-01-06 00:00:00-05:00     179.12   6411222.0
2021-01-07 00:00:00-05:00     178.58   6367836.0
2021-01-08 00:00:00-05:00     178.68   5961422.0

[256 rows x 2 columns]

In [249]:
plug_df

                           plug_close  plug_volume
2020-01-06 00:00:00-05:00      3.8150   37186905.0
2020-01-07 00:00:00-05:00      3.8050   21453070.0
2020-01-08 00:00:00-05:00      4.0675   29991957.0
2020-01-09 00:00:00-05:00      4.0450   16853768.0
2020-01-10 00:00:00-05:00      4.1400   13613412.0
...                               ...          ...
2021-01-04 00:00:00-05:00     32.1800   28702974.0
2021-01-05 00:00:00-05:00     32.5500   17454490.0
2021-01-06 00:00:00-05:00     35.0000   41482804.0
2021-01-07 00:00:00-05:00     47.3000   89346497.0
2021-01-08 00:00:00-05:00     53.7788   96514508.0

[256 rows x 2 columns]